<div class="row">
    <div class="col-md-12">
        <label><b>Server name</b></label>
        <div class="input-group mb-3">
         
            <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" [(ngModel)] = "fullname">
          </div>
          <label><b>Server content</b></label>
          <div class="input-group mb-3">
            <input type="text" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)] = "secondname">
           
          </div>
          <button type="button" class="btn btn-primary" (click)='myFunction("server")'>Add Server</button>
          <button type="button" class="btn btn-primary"  (click)='myFunction("blueprint")' style="margin:5px;">Add Server Blueprint</button>
    </div>
</div>

